{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block heading %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="resume">
        <div id="contact" class="palette">
            <div style="color:#34495e;">
                <h1>Adnan Dossaji</h1>
                <div>
                    <span class="fui-star-2"></span>
                    <h6>224 305 2717</h6>
                </div>
                <div>
                    <span class="fui-mail"></span>
                    <h6>nan.dossaji@gmail.com</h6>
                </div>
                <div>
                    <span class="fui-location"></span>
                    <h6>711 West Gordon Terrace Apt. 321 Chicago, IL 60613</h6>
                </div>
            </div>
        </div>
        <div id="education" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-book" aria-hidden="true"></i> Education</h3>
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.depaul.edu">DePaul University</a></h5>
                            <p>Bachelor of Science in Computer Science</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Chicago, Illinois</p>
                            <p><span class="fui-calendar-solid"></span>Expected June 2017</p>
                        </div>
                    </div>
                    <div class="row">
                        <ul style="color:#34495e;">
                            <li>Concentration:
                                <span class="tag label label-info">Software Engineering</span>
                            </li>
                            <li>GPA:
                                <span class="tag label label-info">3.5</span>
                                out of
                                <span class="tag label label-info">4.0</span>
                            </li>
                            <li>Completed Courses:</li>
                                <div style="padding-bottom: 1em;" class="col-md-4">
                                    <ul>
                                        <li>
                                            Discreet Mathematics 1 & 2
                                        </li>
                                        <li>
                                            Computer Systems 1 & 2
                                        </li>
                                        <li>
                                            Mobile App Development iOS
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>
                                            Object-oriented Programming 1 & 2
                                        </li>
                                        <li>
                                            Data Structures 1 & 2
                                        </li>
                                        <li>
                                            Object-oriented Software Engineering 1 & 2
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>
                                            Data Analysis
                                        </li>
                                        <li>
                                            Technical Writing
                                        </li>
                                    </ul>
                                </div>
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            <span class="tag label label-info">HTML</span>
                            <span class="tag label label-info">CSS</span>
                            <span class="tag label label-info">JavaScript</span>
                            <span class="tag label label-info">C</span>
                            <span class="tag label label-info">Swift</span>
                            <span class="tag label label-info">Java</span>
                            <span class="tag label label-info">Python</span>
                        </div>
                    </div>
                </div>

                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.bloc.io">Bloc</a></h5>
                            <p>Certificate in UX/UI Design and Frontend Development</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Online</p>
                            <p><span class="fui-calendar-solid"></span>May 2014 - June 2014</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>UX/UI Design and Frontend Development courses include: conducting user research for 3
                                    unique web and mobile projects, organizing 3 wireframes, designing 3 visual mockups, and
                                    mocking up 3 prototypes for usability testing
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            <span class="tag label label-info">HTML</span>
                            <span class="tag label label-info">CSS</span>
                            <span class="tag label label-info">Adobe Photoshop</span>
                            <span class="tag label label-info">Adobe Illustrator</span>
                            <span class="tag label label-info">Sass</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="experience" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-briefcase" aria-hidden="true"></i> Professional Experience</h3>
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.att.com">AT&T</a></h5>
                            <p>Big Data Technical Intern</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Plano, Texas</p>
                            <p><span class="fui-calendar-solid"></span>June 2016 - July 2016</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <!--               <ul>
                                      <li></li>
                                    </ul> -->
                    </div>
                </div>

                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.panopta.com">Panopta</a></h5>
                            <p>Software Engineering Intern</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Chicago, Illinois</p>
                            <p><span class="fui-calendar-solid"></span>July 2015 - Present</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <ul>
                            <li>Developed a tag management system organizing servers’ keyword usage into a dedicated view
                                for Panopta’s control panel to increase user experience (my.panopta.com)
                            </li>
                            <li>Built a performance indexing application that ranks and reports 400 popular domains by their
                                uptime (index.panopta.com)
                            </li>
                            <li>Launched customer support platform for F.A.Q. currently in use by over 600 companies
                                (answers.panopta.com)
                            </li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            <span class="tag label label-info">Git</span>
                            <span class="tag label label-info">Python</span>
                            <span class="tag label label-info">TurboGears</span>
                            <span class="tag label label-info">Jinja2</span>
                            <span class="tag label label-info">Bottle</span>
                            <span class="tag label label-info">Flask</span>
                            <span class="tag label label-info">HTML</span>
                            <span class="tag label label-info">CSS</span>
                            <span class="tag label label-info">JavaScript</span>
                            <span class="tag label label-info">RESTful API</span>
                        </div>
                    </div>
                </div>

                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.chicago.cubs.mlb.com">Chicago Cubs</a></h5>
                            <p>Application Devlopment Intern</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Chicago, Illinois</p>
                            <p><span class="fui-calendar-solid"></span>June 2015 - September 2015</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <ul>
                            <li>Developed the first iteration of internal ticketing platform for over 250 employees to
                                purchase complimentary and paid tickets
                            </li>
                            <li>Delivered an analytical recommendation on improving the Chicago Cubs waiting list from
                                52,000 to 72,000 members by collaborating within the cross-functional intern group
                            </li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            <span class="tag label label-info">Powerpoint</span>
                            <span class="tag label label-info">Git</span>
                            <span class="tag label label-info">EXT JS 6</span>
                            <span class="tag label label-info">LDAP</span>
                            <span class="tag label label-info">SSO</span>
                            <span class="tag label label-info">Oracle SQL</span>
                            <span class="tag label label-info">RESTful API</span>
                        </div>
                    </div>
                </div>

                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.medtelligent.com">Medtelligent</a></h5>
                            <p>Web Application Development Intern</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Chicago, Illinois</p>
                            <p><span class="fui-calendar-solid"></span>May 2014 - July 2014</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <ul>
                            <li>Built a real-time dashboard to improve work experience for 10 marketing, sales, and customer
                                support employees
                            </li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            <span class="tag label label-info">Git</span>
                            <span class="tag label label-info">Python</span>
                            <span class="tag label label-info">HTML</span>
                            <span class="tag label label-info">CSS</span>
                            <span class="tag label label-info">Angular JS</span>
                            <span class="tag label label-info">RESTful API</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="volunteer" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-heart" aria-hidden="true"></i> Volunteer Experience</h3>
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a href="https://www.pakathon.org">Pakathon</a></h5>
                            <p>Global Team Web Developer & Chicago Pakathon Member</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>Chicago, Illinois</p>
                            <p><span class="fui-calendar-solid"></span>May 2015 - Present</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <ul>
                            <li>Developed branch website with Pakathon global technology leader to promote organization</li>
                            <li>Collaborated on launching our first annual Chicago-based hackathon at University of Chicago
                                on Oct. 4th, 2015
                            </li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            <span class="tag label label-info">Git</span>
                            <span class="tag label label-info">Ruby</span>
                            <span class="tag label label-info">Ruby on Rails</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="skills" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-gear" aria-hidden="true"></i> Skills</h3>
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <h5 style="color:#fff;font-weight:bold;">Programming Languages</h5>
                    </div>
                    <div style="color:#34495e;" class="palette row">
                        {% for language in programming_languages %}
                            <div>
                                <div style="color:#34495e;" class="col-md-2">
                                    <i class="{{ language[0] }}"></i>
                                    {{ language[1] }}
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ language[2] }}%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{ language[2] }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <h5 style="color:#fff;font-weight:bold;">Software</h5>
                    </div>
                    <div style="color:#34495e;" class="palette row">
                        {% for software in softwares %}
                            <div>
                                <div style="color:#34495e;" class="col-md-2">
                                    <i class="{{ software[0] }}"></i>
                                    {{ software[1] }}
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ software[2] }}%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{ software[2] }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div style="color:#34495e;" id="os">
                    <div class="palette palette-clouds">
                        <div class="palette palette-wet-asphalt">
                            <h5 style="color:#fff;font-weight:bold;">Operating Systems</h5>
                        </div>
                        <ul class="tags">
                            <li>
                                <span class="tag label label-info">Linux</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Windows</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="color:#34495e;" id="activites-hobbies">
                    <div class="palette palette-clouds">
                        <div class="palette palette-wet-asphalt">
                            <h5 style="color:#fff;font-weight:bold;">Activities and Hobbies</h5>
                        </div>
                        <ul class="tags">
                            <li>
                                <span class="tag label label-info">Producing Electronic Music</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Producing Indie Music</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Painting</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Drawing</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Web Design</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Exploring</span>
                            </li>
                            <li>
                                <span class="tag label label-info">Traveling</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="color:#34495e;" id="spoken-languages">
                    <div class="palette palette-clouds">
                        <div class="palette palette-wet-asphalt">
                            <h5 style="color:#fff;font-weight:bold;">Spoken Languages</h5>
                        </div>
                        <div style="color:#34495e;" class="palette row">
                        {% for language in spoken_languages %}
                            <div>
                                <div style="color:#34495e;" class="col-md-2">
                                    <i class="{{ language[0] }}"></i>
                                    {{ language[1] }}
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ language[2] }}%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{ language[2] }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>

            </div>
        </div>
        <p style="text-align: center;">Last Updated on April 18th 2016</p>
    </div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
{% endblock %}