{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block heading %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div id="resume">
        <div id="contact" class="palette">
            <div style="color:#34495e;">
                <h1>{{ user.fullname() }}</h1>
                <div>
                    <span class="fui-star-2"></span>
                    <h6>{{ user.resume.phone }}</h6>
                </div>
                <div>
                    <span class="fui-mail"></span>
                    <h6>{{ user.resume.email }}</h6>
                </div>
                <div>
                    <span class="fui-location"></span>
                    <h6>{{ user.resume.get_address() }}</h6>
                </div>
            </div>
        </div>

        <div id="education" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-book" aria-hidden="true"></i> Education</h3>
                
                {% for school in user.resume.schools %}
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a target="_blank" href="http://{{ school.url }}">{{ school.name }}</a></h5>
                            <p>{{ school.degree }} in {{ school.field_study }}</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>{{ school.city }}, {{ school.state }}</p>
                            <p><span class="fui-calendar-solid"></span>{{ school.start_date }} - {{ school.end_date }}</p>
                        </div>
                    </div>
                    <div style="padding-bottom: 1em;" class="row">
                        <ul style="color:#34495e;">
                            {% if school.concentration %}
                            <li>Concentration:
                                <span class="tag label label-info">{{ school.concentration }}</span>
                            </li>
                            {% endif %}
                            {% if school.concentration %}
                            <li>GPA:
                                <span class="tag label label-info">{{ school.gpa }}</span>
                                out of
                                <span class="tag label label-info">{{ school.maxgpa }}</span>
                            </li>
                            {% endif %}
                            {% if school.concentration %}
                            <li>Completed Courses:</li>

                            {% for course in school.courses %}
                            <div class="col-md-4">
                                <ul>
                                    <li>
                                        {{ course.name }}
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        {% if school.descriptions %}
                        <div class="col-md-12">
                            <ul>
                                {% for description in school.descriptions %}
                                <li style="color:#34495e;">{{ description.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            {% for technology in school.technologies %}
                            <span class="tag label label-info">{{ technology.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% endfor %}
                
            </div>
        </div>
        <div id="experience" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-briefcase" aria-hidden="true"></i> Professional Experience</h3>

                {% for experience in user.resume.experiences %}
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a target="_blank" href="{{ experience.url }}">{{ experience.name }}</a></h5>
                            <p>{{ experience.title }}</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>{{ experience.city }}, {{ experience.state }}</p>
                            <p><span class="fui-calendar-solid"></span>{{ experience.start_date }} - {{ experience.end_date }}</p>
                        </div>
                    </div>
                    {% if experience.descriptions %}
                    <div class="col-md-12">
                        <ul>
                            {% for description in experience.descriptions %}
                            <li style="color:#34495e;">{{ description.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            {% for technology in experience.technologies %}
                            <span class="tag label label-info">{{ technology.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <div id="volunteer" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-heart" aria-hidden="true"></i> Volunteer Experience</h3>

                {% for exp in volunteer_experience %}
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <div class="col-md-8">
                            <h5 style="font-weight:bold;"><a target="_blank" href="{{ exp.url }}">{{ exp.name }}</a></h5>
                            <p>{{ exp.title }}</p>
                        </div>
                        <div style="text-align: right;" class="col-md-4">
                            <p><span style="" class="fui-location"></span>{{ exp.city }}, {{ exp.state }}</p>
                            <p><span class="fui-calendar-solid"></span>{{ exp.start_date }} - {{ exp.end_date }}</p>
                        </div>
                    </div>
                    <div style="color:#34495e;" class="row">
                        <ul>
                            {% for acheivement in exp.acheivements %}
                            <li>{{ acheivement }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default">Technologies</span>
                        </span>
                        <div class="form-control">
                            {% for technology in exp.technologies %}
                            <span class="tag label label-info">{{ technology }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <div id="skills" class="palette">
            <div class="table-responsive">
                <h3 style="color:#34495e;"><i class="fa fa-gear" aria-hidden="true"></i> Skills</h3>
                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <h5 style="color:#fff;font-weight:bold;">Programming Languages</h5>
                    </div>
                    <div style="color:#34495e;" class="palette row">
                        {% for language in programming_languages %}
                            <div>
                                <div style="color:#34495e;" class="col-md-2">
                                    <i class="{{ language[0] }}"></i>
                                    {{ language[1] }}
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ language[2] }}%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{ language[2] }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="palette palette-clouds">
                    <div class="palette palette-wet-asphalt row">
                        <h5 style="color:#fff;font-weight:bold;">Software</h5>
                    </div>
                    <div style="color:#34495e;" class="palette row">
                        {% for software in softwares %}
                            <div>
                                <div style="color:#34495e;" class="col-md-2">
                                    <i class="{{ software[0] }}"></i>
                                    {{ software[1] }}
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ software[2] }}%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{ software[2] }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div style="color:#34495e;" id="os">
                    <div class="palette palette-clouds">
                        <div class="palette palette-wet-asphalt">
                            <h5 style="color:#fff;font-weight:bold;">Operating Systems</h5>
                        </div>
                        <ul class="tags">
                            {% for os in operating_systems %}
                            <li>
                                <span class="tag label label-info">{{ os }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div style="color:#34495e;" id="activites-hobbies">
                    <div class="palette palette-clouds">
                        <div class="palette palette-wet-asphalt">
                            <h5 style="color:#fff;font-weight:bold;">Activities and Hobbies</h5>
                        </div>
                        <ul class="tags">
                            {% for activity in activies_hobbies %}
                            <li>
                                <span class="tag label label-info">{{ activity }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div style="color:#34495e;" id="spoken-languages">
                    <div class="palette palette-clouds">
                        <div class="palette palette-wet-asphalt">
                            <h5 style="color:#fff;font-weight:bold;">Spoken Languages</h5>
                        </div>
                        <div style="color:#34495e;" class="palette row">
                        {% for language in spoken_languages %}
                            <div>
                                <div style="color:#34495e;" class="col-md-2">
                                    <i class="{{ language[0] }}"></i>
                                    {{ language[1] }}
                                </div>
                                <div class="col-md-9">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ language[2] }}%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <p>{{ language[2] }}%</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>

            </div>
        </div>
        <p style="text-align: center;">Last Updated on April 18th 2016</p>
    </div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
</div>
{% endblock %}